<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= content.domain %>/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= content.domain %>/css/bootstrap.rtl.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />
    <script src="<%= content.domain %>/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link rel="stylesheet" href="<%= content.domain %>/css/root.css"> -->
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="<%= content.domain %>/css/default.min.css">
    <link rel="stylesheet" href="<%= content.domain %>/css/github-dark.min.css">
    <script src="<%= content.domain %>/js/highlight.min.js"></script>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="<%= content.metaSubTitle || content.metaTitle %>" />
    <meta property="og:title" content="<%= content.metaTitle %>" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="<%= content.metaUrl %>" />
    <meta property="og:image" content="<%= content.metaImage %>" />
    <meta name="twitter:title" content="<%= content.metaTitle %>">
    <meta name="twitter:description" content="<%= content.metaSubTitle %>">
    <meta name="twitter:image" content="<%= content.metaImage %>">
    <meta name="twitter:card" content="summary_large_image">
    <title><%= content.pageTitle %></title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8DRQJK9YQB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-8DRQJK9YQB');
    </script>
</head>