<%- include('head.ejs') %>
<body>
    <div class="container mt-2 mb-5 p-3">
        <div class="row">
            <div class="col-md-9 col-lg-9 col-sm-12 mx-auto">
                <%- include('back-to-home.ejs') %>
                <% if (post.categories.length > 0) { %>
                    <% post.categories.forEach((c, i) => { %>
                        <div class="py-1 px-2 d-inline-block" style="font-size: smaller; border-radius: 100px; background-color: <%= c.color %>20; color: <%= c.color %>;" ><%= c.name %></div>
                    <% }) %>
                <% } %>
                <h1 id="post-title" class="text-body-emphasis"><%= post.title %></h1>
                <small class="text-body-secondary"><%= post.subTitle %></small>
                <%- include('author.ejs') %>
                <div class="content mt-3">
                    <%- post.body %>
                </div>
                <%- include('author.ejs') %>
                <div class="row">
                    <div class="col-12 col-md-6 my-3">
                        <% if (!!prevPost) { %>
                            <a href="/<%= prevPost.url %>" style="text-decoration: none;">
                                <div class="px-3 py-3 border border-1 text-body-emphasis" style="border-radius: 10px;">
                                    <h5><%= prevPost.title %></h5>
                                    <p class="my-1">&#171; Previous Post</p>
                                </div>
                            </a>
                        <% } %>
                    </div>
                    <div class="col-12 col-md-6 my-3">
                        <% if (!!nextPost) { %>
                            <a href="/<%= nextPost.url %>" style="text-decoration: none;">
                                <div class="px-3 py-3 border border-1 text-body-emphasis" style="border-radius: 10px;">
                                    <h5 style="text-align: right;"><%= nextPost.title %></h5>
                                    <p class="my-1" style="text-align: right;">Next Post &#187;</p>
                                </div>
                            </a>
                        <% } %>
                    </div>
                </div>
                <%- include('back-to-home.ejs') %>
            </div>
        </div>
    </div>
    <%- include('footer.ejs') %>
</body>