<%- include('head.ejs') %>
<body>
    <div class="container mt-2 mb-5 p-3">
        <div class="row">
            <div class="col-md-9 col-lg-8 col-sm-12 mx-auto">
                <%- include('back-to-home.ejs') %>
                <% if (post.categories.length > 0) { %>
                    <% post.categories.forEach((c, i) => { %>
                        <div class="py-1 px-2 d-inline-block" style="font-size: smaller; border-radius: 100px; background-color: <%= c.color %>20; color: <%= c.color %>;" ><%= c.name %></div>
                    <% }) %>
                <% } %>
                <h1 id="post-title" class="text-body-emphasis"><%= post.title %></h1>
                <small class="text-body-secondary">
                    <strong style="font-size: 15px;">Summary. </strong>
                    <span id="summary-content"><%= post.subTitlePreview %> </span>
                    <span><strong style="font-size: 15px;cursor: pointer;" id="summary-action">more</strong></span>
                </small>
                <%- include('author.ejs') %>
                <div class="content mt-3">
                    <%- post.body %>
                </div>
                <div class="my-2">
                    <% const shortLink = content.domain + '/l/?p=' + post.id; %>
                    <p 
                        id="post-link"
                        class="d-inline-block my-2 py-2 px-2 border border-2 text-body-secondary" 
                        style="border-radius: 10px; cursor: pointer;"
                        onclick="document.execCommand('copy')"
                    >
                        <img src="<%= content.domain %>/img/copy.png" style="margin-right: 3px;" width="20px" alt="copy" /><span id="link"> <%= shortLink %></span>
                    </p>
                </div>
                <%- include('author.ejs') %>
                <div class="row">
                    <div class="col-12 col-md-6 my-3">
                        <% if (!!prevPost) { %>
                            <a href="<%= prevPost.url %>" style="text-decoration: none;">
                                <div class="px-3 py-3 border border-1 text-body-emphasis" style="border-radius: 10px;">
                                    <h5><%= prevPost.title %></h5>
                                    <p class="my-1">&#171; Previous Post</p>
                                </div>
                            </a>
                        <% } %>
                    </div>
                    <div class="col-12 col-md-6 my-3">
                        <% if (!!nextPost) { %>
                            <a href="<%= nextPost.url %>" style="text-decoration: none;">
                                <div class="px-3 py-3 border border-1 text-body-emphasis" style="border-radius: 10px;">
                                    <h5 style="text-align: right;"><%= nextPost.title %></h5>
                                    <p class="my-1" style="text-align: right;">Next Post &#187;</p>
                                </div>
                            </a>
                        <% } %>
                    </div>
                </div>
                <%- include('back-to-home.ejs') %>
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll(".content a").forEach(a => {
            if (a.href.indexOf("<%= content.domain %>") > -1) {
                a.rel = "follow"
            } else {
                a.target = "_blank";
                a.rel = "nofollow";
            }
        });

        document.querySelectorAll(".content blockquote").forEach(b => {
            if (b.children.length > 1) {
                const blockQuotes = []
                for (let i = 0; i < b.children.length; i++) {
                    const newB = document.createElement("blockquote")
                    const ch = document.createElement(b.children[i].tagName.toLowerCase())
                    ch.innerHTML = b.children[i].innerHTML;
                    newB.appendChild(ch);
                    blockQuotes.push(newB);
                }

                b.replaceWith(...blockQuotes);
            }
        });

        document.getElementById('post-link').addEventListener('copy', (e) => {
            e.preventDefault();
            if (e.clipboardData) {
                e.clipboardData.setData('text/plain', '<%- shortLink %>')
                document.getElementById('link').innerText = " copied!"
                setTimeout(() => {
                    document.getElementById('link').innerText = " <%- shortLink %>";
                }, 800)
            }
        });

        document.querySelectorAll('.content img').forEach(img => {
            const next = img.nextElementSibling;
            if (!!next && next.tagName.toLowerCase() === "small") {
                next.style = "display: block; font-size: 13px"
                next.className += " text-body-secondary";
            }
        })

        const fullSummary = '<%- post.subTitle %>';
        const previewSummary = '<%- post.subTitlePreview %>';
        document.getElementById('summary-action').addEventListener('click', (e) => {
            console.log(e.target.innerText);
            if (e.target.innerText === 'more') {
                document.getElementById('summary-content').innerText = fullSummary;
                e.target.innerText = 'close';
            } else {
                document.getElementById('summary-content').innerText = previewSummary;
                e.target.innerText = 'more';
            }
        })
    </script>
    <%- include('footer.ejs') %>
</body>